<h1> Kontakt </h1>


<style>
label{display: block;font-weight: bold;}
input[type="text"],textarea{width: 300px;display: block;}
</style>

<form action="" method="post" id="form"  onsubmit="return false" >
<label>Imię i nazwisko:</label>
<input type="text" value="" name="nazwisko" />
<label>Twój adres email:</label>
<input type="text" value="" name="mail" />
<label>Tresc wiadomości:</label>
<textarea name="wiadomosc" rows="10"></textarea>
<input type="submit"  value="Wyślij" />
</form>

