<h1> Oferta huj</h1>

<style>
    th{ text-align:left }
</style>

<table style="width:100%">
  <tr>
    <th>Towar</th>
    <th>Ilość</th> 
    <th>Cena</th>
  </tr>
  <tr>
    <td>
        Gumy do żucia
    </td>    
    <td>1050</td> 
    <td>2 zł / szt</td>
  </tr>
  <tr>
    <td>
    Proszek do rania
    </td>    
    <td>850</td> 
    <td>25 zł</td>
  </tr>
  <tr>
    <td>
        Pasta do zębów
    </td>    
    <td>420</td> 
    <td>8</td>
  </tr>  
</table>

